@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@section css{<link rel="stylesheet" href="~/css/orderHistory.css">}
@if (ViewBag.OrderDetails.Count ==0)
{
    <div class="cartCountNumber text-center">
        <br>
        <h4 >You Don't Have Any Previous Purchases</h4>
        <br />
        <img src="/Imgs/General/orderEmpty.gif" style="border-radius:20px" />
        <div>
             <a class="btn" asp-action="index" asp-controller="Product">
               <h3>&leftarrow; Go To Home</h3> 
            </a>
        </div>
           
       

    </div>
}
else
{
   <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mx-auto">

<div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">@localizer["Your Orders"]</h4>
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>@localizer["ID No."]</th>
                          <th>@localizer["Created On"]</th> 
                          <th>@localizer["Status"]</th>
                          <th>@localizer["Cancel"]</th>
                        </tr>
                      </thead>
                      <tbody>
                           @foreach(var order in ViewBag.OrderDetails){
                        <tr>
                          <td>@order.Id</td>
                          <td>@order.OrderDateTime</td>
                          <td>@if(@order.status =="Canceled"){
                              <p class="text-danger">@order.status</p>
                                }
                               else if (@order.status=="Pending")
                               {
                                   <p class="text-primary">@order.status</p>
                               }
                              else
                              {
                                  <p class="text-success"> @order.status</p>
                              }
                              </td>
                          <td>
                          <a href="/OrderHeader/OrderHistoryDetails/@(order.Id)" class="btn btn-outline-info">View Order</a>
                 
                          </td>

                        </tr>
                           }   
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
              </div>
            </div>  
}


            

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>