@*

<<
@foreach(var order in ViewBag.OrderDetails)
{
    

    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@order.Id</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

}*@
@model IEnumerable<OrderHeader>

@section css{<link rel="stylesheet" href="~/css/orderHistory.css">}
 <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">

<div class="col-lg-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Your Orders</h4>
                  
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID No.</th>
                          <th>Created On</th> 
                          <th>Status</th>
                          <th>Products</th>
                          <th>Cancel</th>
                        </tr>
                      </thead>
                      <tbody>
                           @foreach(var order in Model){
                        <tr>
                          <td>@order.Id</td>
                          <td>@order.OrderDetails.FirstOrDefault().OrderDateTime</td>
                          <td>@if(@order.OrderDetails.FirstOrDefault().status =="Canceled"){<p class="text-danger">@order.OrderDetails.FirstOrDefault().status</p>}
                               else if (@order.OrderDetails.FirstOrDefault().status=="Pending"){<p class="text-primary">@order.OrderDetails.FirstOrDefault().status</p>}
                              else{<p class="text-success"> @order.OrderDetails.FirstOrDefault().status</p>}
                              </td>
                         <td> @foreach(var item in order.OrderDetails){<p>- @item</p>}</td>
                          <td>
                          <a href="/OrderHeader/OrderHistoryDetails/@(order.Id)" class="btn btn-outline-info">View Order</a>
                 
                          </td>

                        </tr>
                           }   
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
              </div>
            </div>
            

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>

    