@model Coupon
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@using Microsoft.Extensions.Options
@inject IOptions<ClickPick.Utility.StripeSettings> Stripe

@{
    double i = 0;

}

<!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">@localizer["checkout"]</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i>@localizer["Home"]</a></li>
                        <li><a href="index.html">@localizer["Shop"]</a></li>
                        <li>@localizer["checkout"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!--====== Checkout Form Steps Part Start ======-->

    <section class="checkout-wrapper section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <h6 class="title"  data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">1.@localizer["Your Personal Details"]</h6>
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                   <form id="Orderheader" asp-action="Index" asp-controller="OrderHeader" name="Orderheader" method="get">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>@localizer["Phone Number"]</label>
                                                <div class="form-input form">
                                                    <input name="Phone" type="text" placeholder="Phone Number" id="Phone">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>@localizer["Address"]</label>
                                                <div class="form-input form">
                                                    <input name="Address" type="text" placeholder="Address" id="Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>@localizer["Additional Note"]</label>
                                                <div class="form-input form">
                                                    <input name="Note" type="text" placeholder="Additional Note" id="Note">
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>@localizer["Shipping fee"]</label>
                                                <div class="form-input form">
                                        <select style="padding: 10px; background:#edf2ff; border:none;" name="Shipping">
                                       <option value="55" selected="selected">Cairo and Giza 55 EGP</option>
                                        <option value="65">Delta and Canal 65 EGP</option>
                                        </select >                                               </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-12">
                                            <div class="single-checkbox checkbox-style-3">
                                                <input type="checkbox" id="billingAddressCheck" name="billingAddressCheck">
                                                <label for="billingAddressCheck"><span></span></label>
                                                <p>@localizer["Use Different Billing Address"]</p>
                                            </div>
                                        </div>
                                         <div class="col-md-6">
                                            <div class="single-form form-default" id="billingAddressDiv">
                                                <label for="billingAddress">@localizer["Billing Address"]</label>
                                                <div class="form-input form">
                                                    <input id="billingAddress" type="text" placeholder="City" name="billingAddress">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button type="submit" class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">@localizer["Continue to Payment"]</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </section>

                            </li>
                            
                            <li>
                                <h6 class="title"  data-toggle="dropdown">2.@localizer["Payment"]</h6>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-sidebar">
                        
                        <div class="checkout-sidebar-price-table mt-30">
                            <h5 class="title">@localizer["Pricing Table"]</h5>

                               <ul class="list-group mb-3">
 
                                      @foreach (var item in ViewBag.ShoppingCartVM.ListCart)
                                     {
                                 <li class="list-group-item d-flex justify-content-between lh-condensed">
                                       <div>
                                         <h6 class="my-0">@(item.Product.Name)</h6>
                                         <small class="text-muted">@localizer["Brief description"]</small>
                                       </div>
                                       <span class="text-muted">@(item.Count) X @item.Product.Price</span>
                                  </li>
                                     }
                                     
                                  <li class="list-group-item d-flex justify-content-between">
                                      <span class="text-info"> Total (USD)</span>
                                         <strong class="text-info"> 
                                         @foreach (var item in ViewBag.ShoppingCartVM.ListCart)
                                     {
                                         i += @item.Product.Price * @item.Count;  
                                     }
                                        <span id="txtOrderTotal"> @i.ToString("c") </span> </strong>
                                   </li>
                               </ul>

                            <div class="checkout-sidebar-coupon">
                            <p>@localizer["Appy Coupon to get discount"]!</p>
         
                            <form  method="get" id="c" enctype="multipart/form-data">    
             <div class="single-form form-default">
                                    <div class="form-input form">
                                        <input name="Name" type="text" placeholder="Coupon Code" id="couponName">
                                    </div>

                                    <div class="button">
                                        <button  type="button" class="btn" id="sendCouponBtn">@localizer["apply"]</button>
                                    </div>
                                    <br/>

                     <ul id="couponArea">
                            <li class="list-group-item d-flex justify-content-between">
                                      <span class="text-danger"> @localizer["Discount"]</span>
                                         <strong class="text-danger"> 
                                  <strong>- </strong><span class="text-danger"id="DiscountAfterCoupon"></span><br />

                                         </strong>
                                   </li>

                             <li class="list-group-item d-flex justify-content-between">
                                      <span class="text-info"> Total (USD)</span>
                                         <strong class="text-info"> 
                                   <span id="TotalAfterCoupon" class="text-success"></span>
                                         </strong>
                                   </li>
                                   </ul>
                                    <ul id="CouponErrorli">
                          <li class="list-group-item d-flex justify-content-between">
                                         <strong class="text-info"> 
                                   <span id="CouponError" class="text-danger"></span>
                                         </strong>
                                   </li>
                        </ul>

                         <div class=" d-flex justify-content-end mt-3 "> 
                        <button type="button" class="btn btn-outline-danger" id="removeCoupon">@localizer["Remove Coupon"]</button>
                        </div>
                                </div>
                           </form>

                        </div>
                        </div>
                        <div class="checkout-sidebar-banner mt-30">
                            <a href="product-grids.html">
                                <img src="/Imgs/General/Offer.png" style="width:410px; height:400px" alt="#">
                            </a>
                        </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--====== Checkout Form Steps Part Ends ======-->


    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="~/js/validate.js" ></script>

    <script>
     $("#removeCoupon").hide();
     $("#couponArea").hide();
     $("#CouponErrorli").hide();

     //sending coupon
     $("#sendCouponBtn").click(function (e) {
    e.preventDefault();
    name = document.getElementById("couponName").value;
    console.log(name);
        $.ajax({
            url: "/Coupon/Index",
            method: "GET",
            data: { Name : name},
            success: function (data) {
                console.log(typeof(data));
              
               
                $(data).each((i,item)=>{

                    if(typeof(item.msg) == "number"){
                   
                   $("#CouponErrorli").hide();
                    $("#couponArea").show();
                     totalPrice=@i * parseFloat(item.msg/100);
                    $( "#TotalAfterCoupon" ).text(
                    (@i - parseFloat( totalPrice)) + "  $" );
                    $( "#DiscountAfterCoupon" ).text(
                    parseFloat( totalPrice) + "  $" );
                   $("#removeCoupon").show();
                    }
                    else {
                        
                         $("#couponArea").hide();
                         $("#removeCoupon").hide();
                         $("#CouponErrorli").show();
                         $( "#CouponError" ).text(item.msg );
                    }
                });  
            }
            ,
            error: function (e) {
                console.log(e);
            }
        
        });
    });

    //removing Coupon
    $("#removeCoupon").click(function (e) {
    e.preventDefault();
        $.ajax({
            url: "/Coupon/Remove",
            method: "POST",
            success: function (data) {
                         $("#couponArea").hide();
                         $("#removeCoupon").hide();
                         $("#CouponErrorli").show();
                         $("#CouponError").text(data);
            },
            error: function (e) {
                console.log(e);
            }

        });
    }
);

    </script>

