

@{
    double i = 0;
    double ii = 0;
    OrderHeader order=TempData.Peek("orderHeader") as OrderHeader;

}


<!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">checkout</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                        <li><a href="index.html">Shop</a></li>
                        <li>checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!--====== Checkout Form Steps Part Start ======-->
    <section class="checkout-wrapper section mt-1">
        <h4 class="text-center text-muted"> Please Review Your Pricing Table And Confirm Your Checkout Method </h4>
            <div class="col-lg-8 col-md-12 col-12 mx-auto mb-5">
                    <div class="checkout-sidebar">
                        <div class="checkout-sidebar-price-table mt-30">
                            <h5 class="title">Pricing Table</h5>

                               <ul class="list-group mb-3">
 
                                      @foreach (var item in ViewBag.ShoppingCartVM.ListCart )
                                     {
                                 <li class="list-group-item d-flex justify-content-between lh-condensed">
                                       <div>
                                         <h6 class="my-0">@(item.Product.Name)</h6>
                                         <small class="text-muted">Brief description</small>
                                       </div>
                                       <span class="text-muted">@(item.Count) X @item.Product.Price</span>
                                  </li>
                                     }
                                     
                                  <li class="list-group-item d-flex justify-content-between">
                                      <span class="text-info"> Total (USD)</span>
                                         <strong class="text-info"> 
                                    @foreach (var item in ViewBag.ShoppingCartVM.ListCart)
                                     {
                                         i += @item.Product.Price * @item.Count;  
                                     }
                                    @if (TempData.Peek("coupon") != null){ 
                                    
                                        ii =((double) i* (100-Convert.ToDouble( TempData.Peek("discount"))))/100 ; }
                                    else{
                                        ii = i;
                                    }

                                        <span id="txtOrderTotal"> @ii.ToString("c") </span> </strong>
                                   </li>
                               </ul>
                                    </div>
                               </div>
                    </div>
                            <hr />

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
    
          <form asp-action="Index" asp-controller="Payment">
          <div class="row justify-content-lg-between justify-content-md-between justify-content-sm-between">
            <label class="card " style="width: 18rem;" >
                  <img class="card-img-top" src="~/Imgs/Payment/COD.jpg" style="width:250px; height:200px" alt="Card image cap">
              <input name="Method" class="radio" type="radio" value="Cash" checked>
              
              <span class="plan-details">
                <span class="plan-type">Cash On Delievry</span>
               
              </span>
            </label>
            <label class="card " style="width: 18rem;">
                <img class="card-img-top" src="~/Imgs/Payment/Stripe.png" style="width:350px; height:250px" alt="Card image cap">
                 <input name="Method" class="radio" type="radio" value="Stripe">
                 <span class="hidden-visually"> Stripe</span>
              
            </label>
 
        </div>
        <hr />
          <div class="single-form form-default button float-end mt-5">
          <button type="submit" class="btn mt-3">Buy now</button>
                   </div>
        </form>          
                        </div>
                    </div>
                </div>
              
            
        </div>
        </div>
    </section>
    @{TempData.Keep();};
    <!--====== Checkout Form Steps Part Ends ======-->


    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="~/js/validate.js"></script>
    