@using Ecommerce.Models.ViewModels
@model ShoppingCartVM

@{
    double i = 0;

}


<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Cart</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="index.html">Shop</a></li>
                    <li>Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Shopping Cart -->
<form method="post">
    <div class="shopping-cart section">
        <div class="cartCountNumber text-center" style="display:none">
            <h4 >Your Cart is Empty </h4>
            <br />
            <img src="/Imgs/General/emptyCart.gif" style="border-radius:20px" />

        </div>
        @if (Model.ListCart.Count() == 0)
        {
            <div class="cartCountNumber text-center">
            <h4 >Your Cart is Empty </h4>
            <br />
            <img src="/Imgs/General/emptyCart.gif" style="border-radius:20px" />

        </div>
        }
        else
        {
        <div class="container">
            <div class="cart-list-head">
                <!-- Cart List Title -->
                <div class="cart-list-title">
                    <div class="row ">
                        <div class="col-lg-1 col-md-1 col-12">

                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <h6>Product Name</h6>
                        </div>
                        @*<div class="col-lg-2 col-md-2 col-12">
                            <p>Quantity</p>
                            </div>*@
                        <div class="col-lg-2 col-md-2 col-12">
                            <h6>Subtotal</h6>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <h6>Amount</h6>
                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <h6>Remove</h6>
                        </div>
                    </div>
                </div>
                <!-- End Cart List Title -->

                <!-- Cart Single List list -->
                <div class="cartitemsj">


                    @foreach (var item in Model.ListCart)
                    {
                        <div class="cart-single-list">
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-md-1 col-12">
                                    <a href="#"><img src="@item.Product.ImgUrl" alt="ProductImg"></a>
                                </div>
                                <div class="col-lg-4 col-md-3 col-12">
                                    <h5 class="product-name"><a href="#">
                                            @item.Product.Name</a></h5>
                                    <p class="product-des">
                                        <span><em>Category:</em> @item.Product.Catagory.CategoryName</span>

                                    </p>
                                </div>

                                <div class="col-lg-2 col-md-2 col-12">
                                    <strong>@item.Product.Price.ToString("c")<span class="text-muted">x</span> @item.Count </strong>
                                    <p>
                                        SubTotal: @(item.Product.Price * @item.Count)
                                    </p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                 <a asp-action="DecreaseProduct" asp-route-productId="@item.ProductId" class="text-danger">
                                        <i class="fa-solid fa-cart-plus fa-2x"></i>
                                    </a>
                                    |
                                       <a asp-action="IncreaseProduct" asp-route-productId="@item.ProductId" 
                                            class="fa-solid fa-cart-plus fa-2x">
                                        </a>

                                </div>

                                @*<div class="col-lg-1 col-md-2 col-12">
                                    <button asp-action="RemoveProduct" asp-route-productId="@item.ProductId" type="submit" class="btn btn-outline-danger btn-lg">
                                    <i class="bi bi-trash bi--xl"></i>
                                    </button>
                                    </div>*@

                                <div class="col-lg-1 col-md-2 col-12">
                                    <a  value="@item.ProductId"  class="btn btn-outline-danger btn-lg bi bi-trash bi--xl deleteBtn " style="width: 80px">
                                        @* <i class=""></i>*@
                                    </a>
                                </div>


                            </div>
                        </div>

                    }
                </div>
                <!-- End Single List list -->
            </div>
           

        
      
                  <div class="row">
                <div class="col-12">
                    <!-- Total Amount --> 
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-12">

                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="right">
                                    <ul>
                                        @foreach (var item in Model.ListCart)
                                        {
                                            i += @item.Product.Price * @item.Count;
                                        }
                                        <li><b>Cart Subtotal</b>
                                            <span>
                                           <span class="badge badge-info cartTotalPrice" style="font-size: 20px; background-color:#94bdee; color:white;">@i $</span>
                                        </span></li>
                                       
                                    </ul>
                                    <div class="button">
                                        <a asp-action="CartSummary" class="btn">Checkout</a>
                                        <a asp-controller="Product" asp-action="index" class="btn btn-alt">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>
            </div>
      
          
        </div> 
         }
    </div>
    </form>
    <!--/ End Shopping Cart -->
    <script src="~/lib/jquery/dist/jquery.min.js">


</script>

    <script>
        $(document).on("click",".deleteBtn",(e)=>{
            let productId=$(e.target).attr("value");
            var sum=0;
            var itemCount=0;
            var totalPrice=0;
            var divToHide=document.getElementsByClassName('shopping-cart section');

            $.ajax({
                 type:"Delete",
                 url:'@Url.Action("DeleteProduct","ShoppingCart")',
                 data:{    
                     productId:productId
                 },
                 success:(data)=>{
                     $(".cartitemsj").html("")

                     $(data).each((i,item)=>{
                         $(".cartitemsj").append(`

                         <div class="cart-single-list">
                    <div class="row align-items-center">
                        <div class="col-lg-1 col-md-1 col-12">
                            <a href="#"><img src="${item.imgURl}" alt="ProductImg"></a>
                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <h5 class="product-name"><a href="#">
                                    ${item.name}</a></h5>
                            <p class="product-des">
                                <span><em>Category:</em> ${item.CategoryName}</span>
                                
                            </p>
                        </div>
                    
                        <div class="col-lg-2 col-md-2 col-12">
                            <strong>${item.price}$<span class="text-muted">x</span> ${item.count} </strong>
                            <p>
                              SubTotal: ${item.price*item.count}
                            </p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                             <a value=${item.productId} role="button" 
                                    class="text-danger fa-solid fa-cart-plus fa-2x increaseD">
                               
                            |</a>
                                <a value=${item.productId} role="button"
                                  class="fa-solid fa-cart-plus fa-2x increaseP">
                                </a>
                        </div>

                          <div class="col-lg-1 col-md-2 col-12">
                             <a  value="${item.productId}"  class="btn btn-outline-danger btn-lg bi bi-trash bi--xl deleteBtn" style="width: 80px">
                                          
                               </a>
                        </div>


                    </div>
                </div>
                         
                         `)

                        sum+=item.count;
                        totalPrice+=item.price;
                        

                     })
                     

                     $(".increaseP").on("click",(e)=>{
                         let value = $(e.target).attr("value");
                         window.location.href='@Url.Action("IncreaseProduct", "ShoppingCart",new { productId="value" })'.replace("value",value)

                     });

                      $(".increaseD").on("click",(e)=>{
                         let value = $(e.target).attr("value");
                         window.location.href='@Url.Action("DecreaseProduct", "ShoppingCart",new { productId="value" })'.replace("value",value)

                     });

                     $(".total-items").html(sum);
                     

                     $(".cartTotalPrice").html(totalPrice);

                     if(sum==0){

                         $('.total-amount').hide();
                         $('.cart-list-title').hide();
                         $('.cartCountNumber').show();

                     }
                     
                 },
                 error:(ex)=>{
                     console.log(ex);
                 },
            })
    
    })
   
    
    </script>


		