@using Ecommerce.Models;
@model dynamic

@{
    Pages pager = new Pages();
    int pageNo = 0;
    if (ViewBag.DataView != null)
    {
        pager = ViewBag.DataView;
        pageNo = pager.CurrentPage;
    }
}



		 <!-- Start Hero Area -->
    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(/Imgs/General/Slider1.png);">
                              
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(/Imgs/General/slider2.png);">
                             
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(/Imgs/General/slider3.png);">
                             
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="background-image: url('/Imgs/Categories/Mobiles/1/a.jpg');">
                                <div class="content">
                                    <h2 style="color:white;">
                                        <span style="color:white;" >Huuurrrry Uppp !!!</span>
                                        iPhone 12 Pro Max
                                    </h2>
                                    <h3 style="color:white;">$10000.99</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2" style="background-image: url('/Imgs/General/sale.gif');">
                                 
                                @*<div class="content">
                                   
                                    <h2>Weekly Sale!</h2>
                                    <p>Saving up to 50% off all online store items this week.</p>
                                    <div class="button">
                                        <a class="btn" href="product-grids.html">Shop Now</a>
                                    </div>
                                </div>*@
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Featured Categories Area -->
    <section class="featured-categories section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Featured Categories</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Category)
                {
                    <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Category -->
                    <div class="single-category">
                        <h3 class="heading">@item.CategoryName</h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li>

                                <a class="btn btn-outline-secondary" asp-controller="Category" asp-action="Index" asp-route-Id="@item.Id">
                                    See More</a>
                                    </li>
                        </ul>
                        
                        <div class="images">
                            <img src="@item.ImgUrl" style="width:180px; height:180px" alt="#">
                        </div>
                    </div>
                    <!-- End Single Category -->
                </div>
                }
                
                
                
            </div>
        </div>
    </section>
    <!-- End Features Area -->

      <!-- Start Brands Area -->
    <div class="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12 col-12">
                    <h3 style=""class="title">Popular Brands</h3>
                </div>
            </div>
            <div class="brands-logo-wrapper">
                <div class="brands-logo-carousel d-flex align-items-center justify-content-between">
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B1.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B2.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B3.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B4.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B5.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B6.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B7.png" style="height:160px; width:220px" alt="#">
                    </div>
                    <div class="brand-logo">
                        <img src="/Imgs/brands/B8.png" style="height:160px; width:220px" alt="#">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Brands Area -->

     <!-- Start Trending Product Area -->
    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Trending Product</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Product)
                {
                    <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div  class="product-image w-75 mx-auto">
                         <a asp-controller="Product" asp-action="Details" asp-route-ProductId="@item.Id">
                             <img  src="@item.ImgUrl"style="width:300px; height:300px"  alt="ProductImg">
                         </a>   
                        </div>
                        <div class="product-info">
@*                            <span class="category">@Model.Category.CategoryName</span>
*@                            <h4 class="title">
                                <a asp-controller="Product" asp-action="Details" asp-route-ProductId="@item.Id">
                                    @item.Name
                                    </a>
                            </h4>
                          @*  <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star"></i></li>
                                <li><span>4.0 Review(s)</span></li>
                            </ul>*@
                            <div class="price">
                                <span>@item.Price.ToString("c")</span>
                            </div>
                        </div>
                    </div>
                    </div>
                }

                
                    <!-- End Single Product -->



       </div>         
    </section>
    <!-- End Trending Product Area -->
    <div class="row">
    @if (pager.TotalPages > 0)
    {
        <ul class="d-flex pagination justify-content-center">
            @if (pager.CurrentPage>1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index"  asp-route-Page="1">
                        First
                    </a>
                </li> 
                <li>
                    <a class="page-link"  asp-action="index"  asp-route-Page="@(pager.CurrentPage-1)">
                        Previous
                    </a>
                </li>   
            }
            @for (var i = 1; i <= pager.EndPage; i++)
            {
                <li class="page-item @(i==pager.CurrentPage?"active":" ")">
                     <a class="page-link"  asp-action="index"  asp-route-Page="@i">
                        @i
                     </a>
                </li>  
            }
            @if (pager.CurrentPage<pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-Page="@(pager.CurrentPage+1)">
                        Next
                    </a>
                </li> 
                <li>
                      <a class="page-link" asp-action="index"  asp-route-Page="@pager.TotalPages">
                        Last
                      </a>
                </li>   
            }
        </ul>
    }

    </div>


    <!-- Start Shipping Info -->
    <section class="shipping-info">
        <div class="container">
            <ul>
                <!-- Free Shipping -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <div class="media-body">
                        <h5>Free Shipping</h5>
                        <span>On order over $99</span>
                    </div>
                </li>
                <!-- Money Return -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-support"></i>
                    </div>
                    <div class="media-body">
                        <h5>24/7 Support.</h5>
                        <span>Live Chat Or Call.</span>
                    </div>
                </li>
                <!-- Support 24/7 -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-credit-cards"></i>
                    </div>
                    <div class="media-body">
                        <h5>Online Payment.</h5>
                        <span>Secure Payment Services.</span>
                    </div>
                </li>
                <!-- Safe Payment -->
                <li>
                    <div class="media-icon">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="media-body">
                        <h5>Easy Return.</h5>
                        <span>Hassle Free Shopping.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- End Shipping Info -->
 




@* <div class="container">
  <div class="row">
     <h4 class=" text-center mt-4 mb-5"><strong>Our Products</strong></h4>
        @for (var i = 0; i < 9; i++)
        {
         <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card mb-3" >
        <img class="card-img-top " src="@Model.Product[i].ImgUrl" style="width:370px; height:370px">
        <div class="card-img-overlay d-flex justify-content-end">
          <a href="#" class="card-link text-danger like">
            <i class="fas fa-heart"></i>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">@Model.Product[i].Name</h4>
          <h6 class="card-subtitle mb-2 text-muted">Description:@Model.Product[i].Description </h6>
          <h6 class="card-subtitle mb-2 text-muted">Quantity:@item.Quantity</h6>
          <h5 class="mt-4">Price:@Model.Product[i].Price</h5> 
        </div>
        <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" asp-controller="Product" asp-action="Details" asp-route-productId="@Model.Product[i].Id">Details</a>
                </div>
        </div>    
        </div>
        } 
    </div>
 
</div> *@


<!-- ========================= JS here ========================= -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/tiny-slider.js"></script>
    <script src="~/js/glightbox.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });

    </script>
   
